body{
    font-family: sans-serif;background-color: white;
}


.main-title {
    color: darkgreen;background-color: white;font-size: 36px;
}

.section-red {
    color: black;background-color: red;font-size: 18px;
}

.section-blue {
    color: white;background-color: darkblue;font-size: 18px;
}

.section-large {
    color: black;background-color: darkcyan;font-size: 18px;
}