body{
    font-family: sans-serif;background-color:white;
}


.main-show {
    color:skyblue;background-color:red;font-size: 36px;
    padding: 15px;
}

.section-red{
    background-color: blue; padding: 15px;;
}



.section-blue {
    color: white;background-color:darkcyan;font-size: 18px
}

.section-narrow {
    color: black;background-color: darkcyan;font-size: 18px;padding: 5px;
}